/* ---------- Fonts ----------- */
/* ---------- FEEL FREE TO CHANGE STUFF----------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* ---------- General Styling ----------- */
html {
  font-family: "Poppins", sans-serif;
}

.page {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  /* background-color: lightgrey; */
}

h2 {
  text-align: center;
}

/* ---------- Header Styling ----------- */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #002248;
  border-bottom: 1px solid black;
  padding: 0.5em;
  align-items: center;
}

.homeLink {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #fff8f0;
  transition: 0.3s;
}

.homeLink:hover {
  color: #d9a21b;
}

.menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.menu li {
  padding: 1em;
}
.menu a {
  text-decoration: none;
  color: #fff8f0;
  transition: 300ms;
}

.menu a::after {
  content: "";
  background-color: white;
  display: block;
  position: relative;
  width: 0%;
  height: 2px;
  transition: all ease-in-out 300ms;
}

.menu a:hover {
  color: #d9a21b;
}

.menu a:hover::after {
  background-color: #d9a21b;
  width: 100%;
}

/* ---------- Footer Styling ----------- */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #002248;
  color: white;
  padding: 1em;
}

footer p {
  margin-top: 0;
}

footer .menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  justify-content: center;
}

footer .menu li {
  padding: 0 1em;
}

footer .menu a {
  text-decoration: none;
  color: #fff8f0;
  transition: 0.3s;
}

footer .menu a:hover {
  color: #d9a21b;
}
